[user]
	email = maligan@rambler.ru
	name = Alexandr Frolov
[color]
	branch = true
	diff = true
	status = true
[alias]
	ch = checkout
	br = branch
	st = status
	co = commit
	sub = submodule
	last = log -1 HEAD
	gr = log --oneline --graph
