[user]
	email = maligan@rambler.ru
	name = Alexandr Frolov
[color]
	branch = true
	diff = true
	status = true
[alias]
	dt = difftool
	br = branch
	st = status
	co = checkout
	cm = commit
	gr = log --oneline --graph
	unstage = reset HEAD --
[core]
	filemode = false
	editor = vim
[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
	prompt = false

