snippet pubf
	public function ${1:name}(${2}):${3:void}
	{
		${4:/* code */}
	}

snippet prof
	protected function ${1:name}(${2}):${3:void}
	{
		${4:/* code */}
	}

snippet prif
	private function ${1:name}(${2}):${3:void}
	{
		${4:/* code */}
	}

snippet func
	function ${1:fname}(${2}):${3:void}
	{
		${4}
	}

#
# Loops
#
snippet fori
	for (${2:i} = 0; $2 < ${1:count}; $2${3:++})
	{
		${4}
	}

snippet fore
	for each (var ${1:i}:${2:*} in ${3:iterable})
	{
		${4}
	}
